body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-navy{
  color: #111B26;
}

.clamp-3{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;  
}

.bc-dividers{
  --bs-breadcrumb-divider: '>';
}

.bc-dividers *{
  text-decoration: none;
}

.btn-outline-primary:hover{
  color: #ffffff!important;
}

.bc-dividers .breadcrumb-item, .bc-dividers .breadcrumb-item a{
  color: #333333!important;
}

.btn-ts, .btn-ts:active, .btn-ts:hover{
  background-color: transparent;
  border-color: transparent;
}

.text-logo{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.navbar-nav a{
  text-decoration: none;
  font-weight: 400;
  color: #828282;
}

.navbar-nav a.text-primary{
  font-weight: 500;
}

nav.scrolled a.text-primary{
  color: #ffffff!important;
}

nav.scrolled a.text-secondary{
  color: #f2f2f2!important;
}

.carousel-item img {
  max-height: 400px;
  object-fit: cover;
}
.carousel-item {
  display: flex;
  align-items: center;
}
.carousel-item div {
  flex: 1;
}
.carousel-control-button {
  font-size: 1.5rem;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-info {
  font-size: 1.2rem;
}

.news-head-title{
  border-left: 4px solid #0090FF;
  padding-left: 14px;
}

.col-4-news{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}

.col-3-news{
  cursor: pointer;
  text-decoration: none;
}

p.img-thumb{
  color: #959EA9;
  font-size: 16px;
}

p.main-news{
  color: #526071;
  font-size: 16px;
}

.comment .text-muted{
  color: #959EA9;
}

footer{
  background-color: #2C3C4D;
}

footer a{
  text-decoration: none!important;
}
